#send-input {
    background: #ffffff;
  }
  
  #send-input > img {
    cursor: pointer;
  }
  
  #send-input input {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
  }
  
  form {
    display: grid;
    grid: 73px / 1fr 35px;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-area: chat-form;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 42px;
    padding-right: 22px;
  }
  
  #send-input input {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
  }
  
  #send-input button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  @media (max-width: 376px) {
    form {
      display: grid;
      grid: 51px / 77px 19px;
    }
    #send-input input {
      margin-left: -22px;
    }
  }
  